


<div ng-controller = "friendsController">



<div id="container">
      <div id="headerdiv">
        <div id='navbar'>
          <h2>Welcome {{getUser()}}!!!</h2>
          <h1 id='h1' class='text-center'>Coding Sensei</h1>
          
          <ul class='inline'>
            <li class='nav col-md-1'><a href="#/dashboard">Home</a></li>
            <li class='nav col-md-1'><a href="#">Python</a></li>
            <li class='nav col-md-1'><a href="#">Ruby</a></li>
            <li class='nav col-md-1'><a href="#">JavaScript</a></li>
            <li class='nav col-md-1'><a href="#">C++</a></li>
            <li class='nav col-md-1'><a href="#">PHP</a></li>
            <li class="nav col-md-1"><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div id='search' class="form-inline text-center">
          <label>Search: </label><input style="font-size:30px" class='form-control' type="text" name="searching" ng-model='query' placeholder="Search...">
          <input class='btn btn-success btn-lg form-control pulse' type="button" ng-click='cancel()' value="Search">

          <input class='btn btn-primary btn-lg form-control pulse' type="button" ng-click='cancellogout()' value="Log Out">
          <img id='sensei' class='floating' src="css/images/sensei.png" width="100px" height="100px" >
        </div>
      </div>
    </div>










<a href="#/new_question">Add a Question</a>

<div class=""col-xl-12"">
  <table class="table table-striped table-hover" topics>
    <thead>
      <tr>
        <th>Question</th>
        <th>Category</th>
        <th>Answers</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "que in questions | filter:query">
        <td>{{que.text}}</td>
        <td>{{que.category}}</td>
        <td>{{que.answers.length}}</td>
        <td><a href="#/edit/{{que._id}}">Show</a> | <a href="#/question/{{que._id}}/new_answer">Answer</a></td>
      </tr>
    </tbody>
  </table>
</div>


  <!-- <form ng-submit = "toCreate()">
    <input type="submit" value="Create">
  </form> -->




</div>
