<div ng-controller = "friendsController">

  <h3>Hello!<br/>Please enter your name to join and share your ideas!</h3>
<form class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-md-2">User Name</label>
		<div class="col-md-4">
			<input class="form-control" ng-model="newUser.name" placeholder="Your Name..."/>
		</div>
	</div>
	<div class="form-group">
		<!-- <a href="#/dashboard"> --><button class="btn btn-primary col-md-1 col-md-offset-5" ng-click="createUser()">Submit</button><!-- </a> -->
	</div>
</div>




  <!-- {{name}} {{4+5}} -->
  <!-- <h2>Q and A</h2>
  <form class="form-horizontal" role="form">
    <div class="form-group">

    </div>

  </form>
  <form ng-model = "newUser", ng-submit = "createUser()">
    <input type="text" ng-model="newUser.name" value="">

    <input type="submit" value="Enter">
    </form>


</div> -->
