<div ng-controller = "friendsController">
  {{2+3}}{{name}}
  <a href="#/">Home</a>
  <a href="#/index">Logout</a>
<!-- You will attach an ng-model and an ng-submit to your forms (but might want to wait until the next tab, when you have your controllers and factory) -->
<fieldset><legend>Add a new Question</legend>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Question:</label>
			<input type="text" class="col-sm-4" ng-model="newQuestion.text">
  </div>
  <div class="form-group">
			<label class="col-sm-2 control-label">Description (optional):</label>
			<textarea class="col-sm-4" rows="4" ng-model="newQuestion.description"></textarea>
		</div>
    <div class="form-group">
  			<label class="col-sm-2 control-label">Category:</label>
  			<select class="col-sm-4" ng-model="newQuestion.category">
  				<option value="HTML">HTML</option>
  				<option value="MySQL">MySQL</option>
  				<option value="Ruby on Rails">Ruby on Rails</option>
  				<option value="JavaScript">JavaScript</option>
  			</select>
  		</div>
      <div class="form-group">
        <ul>
          <li><button class="btn btn-success col-md-1 col-md-offset-5" ng-click ='cancel()'>Cancel</button></li>
          <li><button class="btn btn-success col-md-1 col-md-offset-5" ng-click ='createQuestion()'>Submit</button></li>
        </ul>
			 

		</div>
</form>




</fieldset>
</div>
