<!-- <div ng-controller = "friendsController"> -->

<div ng-controller = "showFriendIdController">
<ul>
  <li><a href="#/edit/:id">Back to Question</a></li>
  <li><a href="#/dashboard">Home</a></li>
  <li><a href="#/index">Logout</a></li>
</ul>

<h1>New Answer Page</h1>

<form>
    <span>Question: {{question.text}}</span>
    <!-- <span>Question Id: {{question._id}}</span> -->
</form>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Your answer: <input ng-model="answer"></input></label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Description: <textarea name="text" rows="4" cols="40"></textarea></label>
    </div>
    <div>
        <button class="btn btn-danger col-md-1 col-md-offset-1" ng-click ='cancel()'>Cancel</button>
        <button class="btn btn-success col-md-1 col-md-offset-1" ng-click = 'createAnswerbyId(question.id)'>Submit</button>
    </div>
</form>
</div>
