*{
	font-family: 'Tangerine', serif;
	font-size: 25px;
}
#dialoguebox {
	background-color: transparent;
	opacity: 0.75;
	filter: alpha(opacity=75);
	height: 260px;
	width: 350px;
}
#title {
	font-family: 'Tangerine', serif;
	font-size: 80px;
	font-weight: bolder;
	background-color: black;
	border: 1px solid black;
	opacity: 0.75;
	filter: alpha(opacity=75);
	padding: 10px;

}
div.title {
	
	padding: 25px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
	display: inline-block;
	width: 400px;

}
div.transbox {
  margin: 15px;
  margin-left: 150px;
  padding: 25px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
  display: inline-block;
  border-radius: 30px;
  font-size: 40px;
}

input {
	margin-left: 4px;
}

#sensei {
	width: 325px;
	height: 350px;
	margin-left: 50px;
	margin-top: 50px;
}
#container{
	background-image: url("images/background6.jpeg");
	background-repeat: no-repeat;
	background-size: 1500px 700px;
	width: 1500px;
	height: 700px;
}
label {
	color: black;
}
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
	padding: 10px;
	margin-left: 470px;
	color: white;
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}
.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}
/*TEXT ANIMATION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#quotebox {
  background: #000;
  padding-top: 10px;
} 

p{
  color: white;
  padding: 4px;
  background-color: lightblue; 
  font-family: "Tangerine";
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 11em;
  animation: type 4s steps(60, end); 
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}